<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Box and Text Input</title>
    <style>
        .room-dimensions {
            width: 400px;
            height: 50px;
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <h2>Room</h2>
    <div class="room-dimensions">
        <input type = "number" id = "roomHeight" placeholder = "1">
        <h3>by</h3>
        <input type = "number" id = "roomWidth" placeholder = "1">
    </div>
</body>
</html>

